<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>DynaPuff-Regular.ttf</string>
		<string>DynaPuff-Medium.ttf</string>
		<string>DynaPuff-SemiBold.ttf</string>
		<string>DynaPuff-Bold.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-SemiBold.ttf</string>
		<string>DMSans-Bold.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>AlphaKids usa la cámara para escanear letras y palabras. Las fotos no se almacenan ni comparten.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>AlphaKids puede acceder a tus fotos para escanear letras cuando la cámara no está disponible.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.alphakids.org.pe</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>